doctype html
html
  head
    title Admin Order
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="images/favicon.ico" rel="shortcut icon")
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css")
    link(rel="stylesheet", href="stylesheets/all.css")
  body
    header#header
      .container
        .row
          .logo
            a(href="#") Shoptime
          ul.menu
            li
              a(href="#").active HOME
            li
              a(href="#") ORDERS
            li
              a(href="#") PRODUCT
          .admin
            a(href="#") ADMIN

    section#main
      .container
        .row
          .info.d-flex.justify-content-between
            .title OVERVIEW
            .conditions
              .date
                span.first-date 2018/6/6
                i.fas.fa-caret-right
                span.last-date 2018/6/13
              .category
                span Weekly
                i.fas.fa-caret-down
          .block-top
            .panel
              .panel-title
                i.fas.fa-hand-holding-usd
                span TOTAL REVENUE
              span.revenue-num 54,540
            .panel
              .panel-title
                i.fas.fa-boxes
                span TOTAL COST
              span.cost-num 12,660
            .panel
              .panel-title
                i.fas.fa-money-check-alt
                span NET INCOME
              span.income-num 41,880
          .block-center
            .chart
              #curve_chart(style='width: 100%; height: 500px')
          .block-bottom
            .panel.transaction
              .title Transaction Website
              .list
                .item
                  .transaction-name
                    i.fab.fa-facebook-square
                    span facebook.com
                  .transaction-num
                    span 45,836
                  .transaction-ratio
                    i.fas.fa-long-arrow-alt-up.ratio-up
                    span 12%
                .item
                  .transaction-name
                    i.fab.fa-google
                    span google.com
                  .transaction-num
                    span 23,582
                  .transaction-ratio
                    i.fas.fa-long-arrow-alt-up.ratio-up
                    span 6%
                .item
                  .transaction-name
                    i.fab.fa-facebook-square
                    span facebook.com
                  .transaction-num
                    span 2,489
                  .transaction-ratio
                    i.fas.fa-long-arrow-alt-down.ratio-down
                    span 9%
                .item
                  .transaction-name
                    i.fab.fa-wordpress
                    span wordpress.com
                  .transaction-num
                    span 1,057
                  .transaction-ratio
                    i.fas.fa-long-arrow-alt-down.ratio-down
                    span 10%
            .panel.orders
              .title Latest Orders
              .list
                .item
                  .order-info
                    .order-img(style="background-image: url('./images/1.jpg')")
                    .order-product
                      .product-name Vintage T-shirt
                      .product-date
                        i.fas.fa-clock
                        span.date 2018/6/13
                        span.time 13:42
                      .product-buyer
                        i.fas.fa-user
                        span Belle Willis
                  .order-total
                    span total
                    span.price 3,200
                .item
                  .order-info
                    .order-img(style="background-image: url('./images/2.jpg')")
                    .order-product
                      .product-name Vintage T-shirt
                      .product-date
                        i.fas.fa-clock
                        span.date 2018/6/13
                        span.time 13:42
                      .product-buyer
                        i.fas.fa-user
                        span Belle Willis
                  .order-total
                    span total
                    span.price 2,800
                .item
                  .order-info
                    .order-img(style="background-image: url('./images/3.jpg')")
                    .order-product
                      .product-name Vintage T-shirt
                      .product-date
                        i.fas.fa-clock
                        span.date 2018/6/13
                        span.time 13:42
                      .product-buyer
                        i.fas.fa-user
                        span Belle Willis
                  .order-total
                    span total
                    span.price 1,600

    script(src="https://www.gstatic.com/charts/loader.js")
    script(type='text/javascript').
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
      var data = google.visualization.arrayToDataTable([
      ['Year', 'Sales', 'Expenses'],
      ['2004',  1000,      400],
      ['2005',  1170,      460],
      ['2006',  660,       1120],
      ['2007',  1030,      540]
      ]);
      var options = {
      title: 'Activity',
      legend: { position: 'bottom' }
      };
      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(data, options);
      }

    script(src="javascripts/vendor.js")
    script(src="javascripts/all.js")